section
{
    position: relative;
	background: red;
    border: 1px solid blue;
}

section nav
{
	background: green;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    bottom: 0px;

}


